
body {
    font-family: Arial, sans-serif; /* Cambiar la fuente para todo el texto dentro del cuerpo */
    display: flex; /* Utilizar el modelo de caja flexible */
    justify-content: center; /* Centrar horizontalmente el contenido */
    align-items: center; /* Centrar verticalmente el contenido */
}
img {
    width: 50%; /* Cambiar el ancho de la imagen al 50% del ancho del contenedor */
    height: auto; /* Mantener la proporción de aspecto original */
}
.container{
    background-color: rgb(255, 255, 255);
}